extends ../layout
block  content
    .container
        .row
            table.table.table-hover.table-bordered
                thread
                    tr
                        th 分类名称
                        th 电影数量
                        th 录入时间
                        th 更新
                        th 删除
                tbody

            a.btn.btn-primary(href="/admin/category/new") 继续增加分类
    script(src="/js/admin.js")